*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
}

.container{
    width:80%;
    height:70vh;
    background:white;
    display:flex;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.left{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#eef2ff;
}

.left img{
    width:80%;
}

.right{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:40px;
}

.right h1{
    margin-bottom:10px;
}

.right p{
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:12px;
    border:none;
    background:#6c63ff;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#5848e5;
}
