*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
}

.container{
    margin:10vh 25vw;
    text-align:center;
}

.image-box img{
    width:100%;
    max-width:300px;
    border-radius:10px;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    font-size:18px;
    color:white;
    cursor:pointer;
    background:linear-gradient(to right,purple,deeppink);
}