*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

nav{
    background:#0077ff;
    padding:20px;
}

.logo,
.menu,
.user{
    display:inline-block;
    vertical-align:middle;
}

.logo{
    width:20%;
    color:white;
    font-size:25px;
    font-weight:bold;
}

.menu{
    width:55%;
    text-align:center;
}

.menu li{
    display:inline;
    margin:0 15px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.user{
    width:20%;
    text-align:right;
    color:white;
    font-weight:bold;
}

.hero{
    height:90vh;
    padding:50px;
}

.left,
.right{
    display:inline-block;
    width:49%;
    vertical-align:middle;
}

.left h1{
    font-size:50px;
    color:#0077ff;
    margin-bottom:20px;
}

.left p{
    font-size:18px;
    line-height:28px;
    margin-bottom:25px;
}

.left button{
    background:#0077ff;
    color:white;
    border:none;
    padding:15px 25px;
    border-radius:5px;
    cursor:pointer;
}

.right{
    text-align:center;
}

.right img{
    width:90%;
    border-radius:10px;
}
